/* THIS SPECIFIES THE SIZE OF THE BODY SECTION */
body {
  background-color: #FFF;
  font-size:; /* Base font size is 14px */
  line-height: 1.5;
  text-align: left;
  padding-top:70px;
  position:relative;
}

.body {
  margin: 0 auto;
  padding-top:70px;
  width: 100%;
  clear: both; /*Makes flow properly */
}

.navbar-default {
  background-color:#FFF;
}

/* SETTING BLUE TEXT ON HEADER MENU AND CLEANING UP DEFAULT STYLE*/
.navbar-default .navbar-nav>li>a {
  color:#42a5f5;
}

.navbar-default .navbar-nav>.active>a {
  background-color:#FFF;
  color:#42a5f5;
  text-decoration:underline;
}

 .navbar-default .navbar-nav>.active>a:hover {
  background-color:#FFF;
 }

/* MAKING SURE DROPDOWN MENU ALSO HAS CORRECT STYLE */
 .dropdown-menu>li>a {
  color:#42a5f5;
 }

/* MOVING LOGO UPWARDS */
 .navbar>.container-fluid .navbar-brand {
    padding-top: 0px;
}

/* SETTING LOGO IMAGE SIZE */
.navbar-brand>img {
  width: 100px;
  height: 50px;
}

/* EDITING JUMBOTRON */
.jumbotron .row i {
  color:#42a5f5;
}

.jumbotron {
  width: 100%;
}

.jumbotron .row {
  margin-left: 10%;
  margin-right:10%;
}

.jumbotron .row h3 {
  font-weight: 600;
}

/*.jumbotron .row p {
  font-style:oblique;
}*/


/* BLOG PAGE RELATED */
.mainContent {
  line-height: 25px;
  border-radius: 5px;
  -moz-border-radius: 5px; /* Just to ensure it shows properly on mozilla, similar for the one below */
  -webkit-border-radius: 5px;
}

.content {
  width:60%;
  float:left; /* This is important to ensure we have space for the sidebar later */
}

.topcontent {
  background-color: #FFF;
  border-radius: 5px;
  -moz-border-radius: 5px; /* Just to ensure it shows properly on mozilla, similar for the one below */
  -webkit-border-radius: 5px;
  padding: 3% 5%;
  margin-top: 2%;
}

.bottomcontent {
  background-color: #FFF;
  border-radius: 5px;
  -moz-border-radius: 5px; /* Just to ensure it shows properly on mozilla, similar for the one below */
  -webkit-border-radius: 5px;
  padding: 3% 5%;
  margin-top: 2%;
}

.top-sidebar {
  width: 21%; /* 21 percent + 3 percent margin plus "3 x 2" padding plus 70 percennt for the content area = 100 % */
  float: left;
  background-color: #FFF;
  border-radius: 5px;
  -moz-border-radius: 5px; /* Just to ensure it shows properly on mozilla, similar for the one below */
  -webkit-border-radius: 5px;
  padding: 2% 3%;
  margin: 2% 0 2% 3%; /* Clockwise from the top. 1. top 2. right 3. bottom and 4. left.*/
}

.post-info {
  font-style: italic;
  font-size: 90%;
  color: grey;
}

.middle-sidebar {
  width: 21%;
  float: left;
  background-color: #FFF;
  border-radius: 5px;
  -moz-border-radius: 5px; /* Just to ensure it shows properly on mozilla, similar for the one below */
  -webkit-border-radius: 5px;
  margin-left: 3%;
  margin-bottom: 2%;
  padding: 2% 3%;
}

.bottom-sidebar {
  width: 21%;
  float: left;
  background-color: #FFF;
  border-radius: 5px;
  -moz-border-radius: 5px; /* Just to ensure it shows properly on mozilla, similar for the one below */
  -webkit-border-radius: 5px;
  margin-left: 3%;
  padding: 2% 3%;
  margin-bottom: 2%;
}

.mainFooter {
  width: 100%;
  height: 120px;
  float: left;
  border-radius: 5px;
  -moz-border-radius: 5px; /* Just to ensure it shows properly on mozilla, similar for the one below */
  -webkit-border-radius: 5px;
  background-color: #222222;
  margin: 0 0; /* can also write margins like this. 1. top and bottom 2. left and right.*/
}

.mainFooter p, .mainFooter p a, .mainFooter h3 {
  width: 92%;
  margin: 10px auto;
  color: #FFF;
  text-align: center;
}

.footerSocial {
  text-align:center;
  word-spacing: 20px;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #FFF;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
  text-decoration:underline;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown active {
  text-decoration: underline;
}

/* Specifying everything for mobile device */
@media only screen and (min-width: 150px) and (max-width: 600px) {

  .body {
    width: 90%;
  }
/* OLD HEADER MENU
  .mainHeader img {
   widht:100%;
  }

  .mainHeader nav {
    height: 160px;
  }

  .mainHeader nav ul {
    padding-left: 0;
  }

  .mainHeader nav ul li {
    width: 100%;
    text-align:center;
  }

  .mainHeader nav a:link, .mainHeader nav a:visited {
    padding: 10px 25px;
    display: block;
  }

  .mainContent {
  line-height: 25px;
  border-radius: 5px;
  -moz-border-radius: 5px; 
  -webkit-border-radius: 5px;
  }
  */

  .content {
    width: 100%;
    float: left; /* This is important to ensure we have space for the sidebar later */
    margin-top: 2%;
  }

  .post-info {
    display:none;
  }
  
  .topcontent {
    margin-top: 4%;
  }

  .bottomcontent {
    margin-top: 4%;
  }

  .top-sidebar, .middle-sidebar, .bottom-sidebar {
    width: 100%; /* 21 percent + 3 percent margin plus "3 x 2" padding plus 70 percennt for the content area = 100 % */
    padding: 2% 3%;
    margin: 2% 0 2% 0%; /* Clockwise from the top. 1. top 2. right 3. bottom and 4. left.*/
  }
}

/*
#main {
  width: 1000px;
  height: 600px;
  margin: 25px auto;
  border:solid 2px #222222;
}
.active {
    text-decoration:underline;
}

/* CENTERING THE H1 */
h1 {
  font-size: 60px;
  text-align: center;
}

.contentv {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0px;
}
.contentv video {
  width: 100%;
  display: block;
}
.contentv:before {
  width: 50%;
  height: 50%;
  content: '';
  position: absolute;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto auto;
}


.outer-container {
    width: 100%;
    height: 100%;
    text-align: center;
}
.inner-container {
/*    display: inline-block; */ /* BY DISABLING THIS I GOT FULLSCREEN VIDEO */
    position:relative;
}
.video-overlay {
    width: 40%;
    height: 40%;
    position: absolute;
    padding: 5px 5px;
    font-size: 20px;
    font-family: Helvetica;
    color: #FFF;
    background-color: rgba(255, 255, 255, 0.3);
    margin: auto auto;
    left:30%;
    top:30%;
    border-radius: 5px;
    -moz-border-radius: 5px; /* Just to ensure it shows properly on mozilla, similar for the one below */
    -webkit-border-radius: 5px;
    overflow-x:wrap;
}

.video-overlay h1 {
  font-weight: 700;
}

video {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    -moz-border-radius: 5px; /* Just to ensure it shows properly on mozilla, similar for the one below */
    -webkit-border-radius: 5px;
}

.mainFooterRow {
  padding-bottom:20px;
  width:80%;
  margin: auto auto;
}

.ulFooter {
  list-style: none;
  padding-left:0px;
}

.ulFooter li, .ulFooter li a {
  padding-bottom: 4px;
  font-size: 110%;
}


.container {
  width:100%;
  text-align:center;
  background-color:#222222;
}

.footerSection {
}

.page-section {
  width: 80%;
  margin: auto auto;
}

.panel-default {
    border-color: #e2e9e6;
}

.panel {
    margin-bottom: 18px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 0;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.panel-body .title-wrapper h4 {
  text-transform:uppercase;
}

.panel-body {
    padding: 16px;
    display: table;
    width: 100%;
}

.home-category-item .panel-body {
    display: table;
    width: 100%;
}

.panel-body .title-wrapper {
    display: table-row;
    width: 100%;
    overflow: hidden;
}

.panel-body .title-wrapper h4 {
    display: table-cell;
    width: 100%;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
}

.text-headline {
    font-size: 1.84rem;
    font-weight: 400;
    line-height: 2.46rem;
}

.height-64 {
    height: 64px !important;
}
.height-32 {
    height: 32px !important;
}

/* MIGHT HAVE TO CHANGE ALL WITH PANEL-BODY TO .HOME-CATEGORY-ITEM .PANEL BODY" later if I figure out the code */
.panel-body .subtitle-wrapper h5 {
    display: table-cell;
    width: 100%;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
}

.panel-body .subtitle-wrapper {
    display: table-row;
    width: 100%;
    height: 64px!important;
}

h1, h2, h3, h4, h5, h6 {
  font-weight:500;
}

.panel-body .subtitle-wrapper h5 {
    display: table-cell;
    width: 100%;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
}

.clearfix:before, .clearfix:after, .dl-horizontal dd:before, .dl-horizontal dd:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical>.btn-group:before, .btn-group-vertical>.btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .pager:before, .pager:after, .panel-body:before, .panel-body:after, .modal-footer:before, .modal-footer:after {
    content: " ";
    display: table;
}

*:before, *:after {
    box-sizing: border-box;
}

/*.row-courses {
  position:relative;
  height: 600px;
}*/

/* NOT SURE IF WORKS BUT TRYING TO APPLY SHADOW EFFECT */
.paper-shadow.panel {
    position: relative;
}

@media (min-width: 768px) {
  .cover.overlay {
    overflow: hidden;
  }
}

.panel>.cover {
  margin-bottom:0;
}

.cover {
  overflow:hidden;
  position:relative;
  margin-bottom:18px;
}

.cover.overlay.cover-image-full>img, .cover.overlay.cover-image-full>.img {
    width: 100%;
}

.cover.overlay .overlay.overlay-full {
    top: 0;
    height: 100%;
}

.cover.overlay.hover .overlay-hover {
    -webkit-transition: all .5s;
    transition: all .5s;
    visibility: hidden;
    opacity: 0;
}

.cover.overlay .overlay-bg-white {
    background: -webkit-linear-gradient(left,rgba(255,255,255,.8),rgba(255,255,255,.6));
    background: linear-gradient(to right,rgba(255,255,255,.8),rgba(255,255,255,.6));
}

.cover.overlay .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
    padding: 18px;
    display: table;
    width: 100%;
    vertical-align: middle;
}

.cover.overlay .overlay.overlay-full .v-center {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    text-align: center;
    position: relative;
    bottom: auto;
    top: auto;
    left: auto;
    right: auto;
}

.cover.overlay .overlay *:last-child {
    margin-bottom: 0;
}

.btn-circle.btn-lg {
    width: 45px;
    height: 45px;
    line-height: 45px;
}

.btn-circle.btn {
    padding: 0;
    width: 34px;
    height: 34px;
    line-height: 34px;
}

.btn {
    text-transform: uppercase;
}

.btn-circle {
    border-radius: 50%;
}

.btn-white {
    color: #444;
    background-color: #fff;
    border-color: #efefef;
}

.btn {
    font-weight: 500;
}

.btn-lg, .btn-group-lg>.btn {
    padding: 10px 16px;
    font-size: 17px;
    line-height: 1.3333333;
    border-radius: 6px;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 8px 12px;
    font-size: 13px;
    line-height: 1.42857143;
    border-radius: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.bg-blue-300 {
    background-color: #64b5f6;
}

.text-white {
    color: #fff !important;
}

fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    transform: translate(0,0);
}

.fa-mortar-board:before, .fa-graduation-cap:before {
    content: "ï†";
}

.padding-none {
    padding: 0!important;
}

a {
    background-color: transparent !important;
}

.height-100 {
    height: 100px!important;
}

.icon-block {
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    display: inline-block;
    font-size: 35px;
}

.paper-shadow:before, .paper-shadow:after {
    border-radius: inherit;
    pointer-events: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: "";
    display: block;
    z-index: -1;
}

.paper-shadow[data-z="0.5"]:after, .paper-shadow[data-hover-z="0.5"]:hover:after {
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.17);
}

.paper-shadow.panel {
    position: relative;
}

.paper-shadow:not(.navbar) {
    z-index: 1;
}

.panel {
    box-shadow: none;
}

.panel-default {
    border-color: #e2e9e6;
}


.clearfix:after, .dl-horizontal dd:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical>.btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .pager:after, .panel-body:after, .modal-footer:after {
    clear: both;
}

/* IF EVER WANTING TO MAKE ALL SUB COURSES IN CAPITALIZED LETTERS
.subtitle-wrapper h5 {
  text-transform:uppercase;
}*/





.homeTitles {
  text-align: center;
  margin-top:10%;
  margin-bottom: 2%;
}

.input-group .form-control {
    display: table-cell;
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
}

.input-group-btn {
    position: relative;
    font-size: 0;
    white-space: nowrap;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 8px 12px;
    font-size: 13px;
    line-height: 1.42857143;
    border-radius: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* THIS IS OLD MANUAL HEADER MENU
/*.mainHeader nav img {
  width: 5%;
  height: auto;
  margin-left: 20px;
  border-radius: 5px;
  -moz-border-radius: 5px;  Just to ensure it shows properly on mozilla, similar for the one below 
  -webkit-border-radius: 5px;
  float:left;
}*/

/*.mainHeader nav {
  background-color: #FFF;
  width: 100%;
  position: fixed;
  top: 0px;
  padding-top: 10px;
  z-index: 1;
}

.mainHeader nav ul {
  list-style: none;
  display:inline-block;
  margin: 0 auto;
  width: 90%;
}

.mainHeader nav ul li {
  float: left;
  display: inline;
}

.mainHeader nav ul li:last-child {
  float:right;
}

.mainHeader nav a:link, .mainHeader nav a:visited {
  color: #42a5f5;
  display: inline-block;
  padding: 10px 25px;
}

.mainHeader nav a:hover, .mainHeader nav a:active, .mainHeader nav .active a:link, .mainHeader nav .active a:visited {
  background-color: #FFF;
  text-shadow: none;
}

/* Rounded corners on selected header menu
.mainHeader nav ul li a {
  border-radius: 5px;
  -moz-border-radius: 5px; /* Just to ensure it shows properly on mozilla, similar for the one below */
 /* -webkit-border-radius: 5px;
}*/